*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background-color: #fffff;
   padding: 0;
   margin: 0;
   width: 100%;
}

.container {
    margin-top: 10vh;
}

#prettyTop{
text-align: center;
padding-bottom: 30px;
}

.mt-1{
text-align: center;
padding-top: 20px;
}

h1{
text-align: center;
padding-top: 30px;
}