.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#prettyTop{
text-align: center;
padding-bottom: 30px;
}

#form{
    padding-top: 20px;
    text-align: center;
}

#schedule {
    padding-top: 100px;
    text-align: center;
}

.button {
    padding-top: 20px;
    padding-left: 50%;

}
.form-group {
    padding: 1%;
}

body {
   background-color: #f0f8ff;
   padding: 0;
   margin: 0;
   width: 100%;
}

.instruction {
    text-align: left;
    padding-left: 15%;
}

h1{
text-align: center;
}

.mt-1{
text-align: center;
padding-top: 20px;
}

h3{
text-align: center;
padding-top: 30px;
padding-left: 50px;
}

.bolded {
    font-weight: bold;
}

label {
    font-weight: bold;
}