.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#prettyTop{
text-align: center;
padding-bottom: 30px;
}

#form{
    text-align: center;
}

#schedule {
    padding-top: 100px;
    text-align: center;
}

.button {
    padding-top: 20px;
    padding-left: 50%;

}
.form-group {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.instruction {
    text-align: center;
}

h1{
text-align: center;
}

.mt-1{
text-align: center;
padding-top: 20px;
}

h3{
text-align: center;
padding-top: 30px;
}

h2{
text-align: center;
}

.bolded {
    font-weight: bold;
}
#showdata{
text-align:center;
}

#messageDiv{
text-align: center;
}