<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link href="../static/style.css" rel="stylesheet" type="text/css" />

<div id="prettyTop">
    <img src="./images/MEDPRO3.png" alt="Med Pro" width="100%" class="center">
    <br><br>
    <h1>Schedule Your Appointment</h1>
</div>
<!-- <body class="container body-content"> -->
<body>

<h2 class="instruction">Step 1: Please enter patient details.</h2>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="FIRST_NAME">First Name</label>
        <input class="form-control" th:field="${patient.firstName}" />
        <span th:errors="${patient.firstName}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="LAST_NAME">Last Name</label>
        <input class="form-control" th:field="${patient.lastName}" />
        <span th:errors="${patient.lastName}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="DATE_OF_BIRTH">Date of Birth</label>
        <input type="date" class="form-control" th:field="${patient.dateOfBirth}" />
        <span th:errors="${patient.dateOfBirth}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="MOBILE_NO">Mobile Number</label>
        <input class="form-control" th:field="${patient.mobileNo}" />
        <span th:errors="${patient.mobileNo}" class="error"></span>
    </div>
    <div class="button">
        <input type="submit" class="btn btn-info" data-toggle="button" aria-pressed="false" autocomplete="off"value="Submit" />
    </div>
</form>

</body>
</html>