<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <form th:action="@{/search/results}" method = "post">
    <h2>Search by:</h2>

    <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

    </p>

    <p>
      <label for="searchTerm">Keyword:</label>
      <input type="text" name="searchTerm" id="searchTerm" />
    </p>

    <input type="submit" value="Search" />
  </form>

  <hr />


  <table class="patient-search">
    <tr th:each="patient : ${patients}">
      <td>
        <p>
          Name:
          <a th:href="@{'/view/' + ${name.id}}" th:text="${name.id}"></a>
        </p>
        <p th:text="${'Name: ' + name.name}"></p>
        <p>
          Email:
          <a th:href="@{'/patients/view/' + ${email.patient.id}}" th:text="${email.patient.name}"></a>
        </p>
      </td>
    </tr>
  </table>

</div>

</body>
</html>